@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: lightblue;
}

a:visited {
  color: darkmagenta;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
