@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

body {
  background-color: #1f2632;
  position: relative;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: lightblue;
}

a:visited {
  color: darkmagenta;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.advice {
  position: relative;
  background-color: #323a49;
  text-align: center;
  padding: 2rem 2rem 3rem;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #4e5d73;
  border-top: 1px solid #cee3e9;
  border-right: 1px solid #cee3e9;
}
.advice-number {
  text-transform: uppercase;
  color: #52ffa8;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  animation: show 2s ease;
}
.advice-text {
  padding: 1.5rem 0rem;
  animation: show 2s ease;
}
.advice-text .text {
  font-weight: bold;
  color: #cee3e9;
  font-size: clamp(1rem, 5vw, 1.5rem);
}
.advice-divider img {
  margin: 0 auto;
}
.advice .button-dice {
  border: 0;
  padding: 1rem;
  border-radius: 50%;
  background-color: #52ffa8;
  transition: 0.2s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
}
.advice .button-dice:hover {
  box-shadow: 0px 0px 15px 2px #52ffa8;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
