@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

$clr-Light-Cyan: hsl(193, 38%, 86%);
$clr-Neon-Green: hsl(150, 100%, 66%);
$clr-Grayish-Blue: hsl(217, 19%, 38%);
$clr-Dark-Grayish-Blue: hsl(217, 19%, 24%);
$clr-Dark-Blue: hsl(218, 23%, 16%);
$fs-qoute: 28px;
$ff-Manrope: 'Manrope', sans-serif;