@import "./variables";
@import "./globals";

.advice {
  position: relative;
  background-color: $clr-card;
  text-align: center;
  padding: 2rem 2rem 3rem;
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px $clr-boxshadow;
  border-top: 1px solid $clr-text;
  border-right: 1px solid $clr-text;

  &-number {
    text-transform: uppercase;
    color: $clr-Neon-Green;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    animation: show 2s ease;
  }

  &-text {
    padding: 1.5rem 0rem;
    animation: show 2s ease;
    .text {
      font-weight: bold;
      color: $clr-text;
      font-size: clamp(1rem, 5vw, 1.5rem);
    }
  }

  &-divider {
    img {
      margin: 0 auto;
    }
  }

  .button-dice {
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    background-color: $clr-Neon-Green;
    transition: 0.2s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;

    &:hover {
      box-shadow: 0px 0px 15px 2px $clr-Neon-Green;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
